.colorText{
    color:blue;
}

.fontweightClass
{
    font-weight:bold;
}

.feedForm
{
    border: 2px solid blue;
    padding:5px;
    background-color: lightgrey;
}

.w-20
{
    width:50px;
    height:20px;
}

.boxBorder
{
    border: 2px solid blue;
}

.m-5top
{
    margin-top:5px;
}

.m-20top
{
    margin-top: 20px;
}

.m-15left
{
    margin-left: 15px;
}

.m-15right
{
    margin-left: 15px;
}

.colorFileDetails

{
   background-color: #191970;

}

.indexColor
{
    color:white;
}

.buttonStyle
{
    float: right;
}

.w-45
{
    width: 45px;
}

.w-100
{
    width: 110px;
}
.error
{
    border: 2px solid red;
}

.timepicker__container
{
    border: 2px solid blue;
}

.errorText {
    color: red;
    font-size:20px;
}

.p-5
{
    padding:5px;
}

.test
{
    display: inline;
    border: 2px solid blue;
    padding: 0px 204px;
}