.colorText{
    color:blue;
}

.fontweightClass
{
    font-weight:bold;
}

.feedForm
{
    border: 2px solid #3299CC;
    padding:5px;
    background-color: whitesmoke;
}

.w-20
{
    width:50px;
    height:20px;
}

.boxBorder
{
    border: 1px solid #3299CC;
}

.timBoxBorder
{
    border: 1px solid #3299CC !important;
}
.m-5top
{
    margin-top:5px;
}

.m-20top
{
    margin-top: 20px;
}

.m-15left
{
    margin-left: 15px;
}

.m-15right
{
    margin-left: 15px;
}

.colorFileDetails
{
   background-color: #3299CC;
}

.indexColor
{
    color:white;
}

.indexColor a
{
    color:white !important;
}

.buttonStyle
{
    float: right;
}

.w-45
{
    width: 45px;
}

.w-100
{
    width: 110px;
}
.error
{
    border: 1px solid red;
}

.errorText {
    color: red;
    font-size:20px;
}

.p-5
{
    padding:5px;
}

.test
{
    display: inline;
    border: 2px solid #3299CC;
    padding: 10px 311px;
    margin-top:5px;
}

.w-200
{
    width: 197px !important;
}

.inputRadius
{
    border-radius: 5px;
}

.h-31
{
    height: 31px;
}

.backgroundColorBlue
{
    background-color: #42d7f4;
}

.indexColor a:hover {
    text-decoration: none !important;
}

.test a:hover {
    text-decoration: none !important;
}

.centreAlign
{
    text-align: center;
}

.tabs
{
    text-align:center;
    height:31px;
}

.colorWhite
{
    background-color: whitesmoke;
}

.colorTextBlack
{
    color:black;
}

.buttonStyling
{
    width:101px;
    height:40px;
    font-size:19px;
}